<div fxLayout="column">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Make
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="row">
        <div fxLayout="column">
            <mat-checkbox>Fender</mat-checkbox>
            <mat-checkbox>Gibson</mat-checkbox>
            <mat-checkbox>Taylor</mat-checkbox>
            <mat-checkbox>Martin</mat-checkbox>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Model
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="row">
          <div fxLayout="column">
              <mat-checkbox>Stratocaster</mat-checkbox>
              <mat-checkbox>Telecaster</mat-checkbox>
              <mat-checkbox>Les Paul</mat-checkbox>
              <mat-checkbox>SG</mat-checkbox>
          </div>
        </div>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-raised-button color="primary">Apply</button>
</div>
