<section class="makes-section" fxLayout="column" *ngIf="!isLoading">
  <div fxFlex fxLayoutGap="10px" class="width-100 p-10">
    <app-add-make></app-add-make>
  </div>
  <div fxFlex>
    <mat-table [dataSource]="makesDataSource">
      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef>Make</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.value }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Add Date">
        <mat-header-cell *matHeaderCellDef fxFlex="30%">Add Date</mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="30%"> <span *ngIf="element.addDate">{{ element.addDate }} </span> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <mat-header-cell *matHeaderCellDef fxFlex="15%">Delete</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;" fxFlex="15%">
            <a (click)="onDeleteModel(element.id)"><i class="material-icons">delete</i></a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</section>
