<mat-sidenav-container>
    <mat-sidenav #sidnav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/admin/guitars']">
              <mat-icon>input</mat-icon>
              <span class="nav-caption">Guitars</span>
            </a>
            <a mat-list-item [routerLink]="['/admin/guitars/metadata']">
              <mat-icon>face</mat-icon>
              <span class="nav-caption">Guitar Metadata</span>
            </a>
            <a mat-list-item [routerLink]="['/admin/users']">
              <mat-icon>gear</mat-icon>
              <span class="nav-caption">Users</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <button mat-raised-button (click)="sidnav.toggle()">Open Sidenav</button>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
