<div fxLayout="row" fxLayoutAlign="center center" class="filter">
    <form fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit()" [formGroup]="guitarFilterForm" >
        <mat-form-field>
          <mat-label>Make</mat-label>
          <mat-select formControlName="makes"  multiple>
            <mat-option *ngFor="let make of makes$ | async" [value]="make.value">
              {{make.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Model</mat-label>
            <mat-select formControlName="models" multiple>
            <mat-option *ngFor="let model of models$ | async" [value]="model.value">
              {{model.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="lowestPrice" placeholder="Lowest Price" type="number">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="highestPrice" placeholder="Highest Price" type="number">
        </mat-form-field>
        <div fxLayout fxLayoutGap="5px">
          <button type="button" (click)="onReset()" mat-raised-button color="accent">Reset</button>
          <button type="submit" mat-raised-button color="primary">Apply</button>
        </div>

      </form>
</div>
