<section>
    <div fxLayout="row wrap" fxLayoutGap="10px">
      <mat-card class="span-1-of-3" *ngFor="let guitar of guitars$ | async">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{guitar.make}} {{guitar.model}}</mat-card-title>
          <mat-card-subtitle>{{guitar.subModel}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="guitar.imageUrl" [alt]="guitar.make">
        <mat-card-content>
          <p>
              {{guitar.description}}
          </p>
          <p>
              {{guitar.price | currency}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="onLike(guitar, $event)">LIKE</button>
          <button mat-button (click)="onShare(guitar, $event)">SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
</section>

